# Dependencias
node_modules

# Logs
npm-debug.log*
yarn-debug.log*

# Build
dist

# Arquivos de Sistema
.DS_Store

# Env
.env

# Exceção para o CI/CD (NÃO ignore o workflow)
# Esta é a linha que conserta tudo
!*.yml